@body-padding-size: 10%;

.home-layout {
  height: 100%;
  background: #fff;
  overflow: hidden;
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.6);
  padding-left: @body-padding-size*0.9;
}

.home-header, .home-main {
  background: none;
}

.card-border() {
  border-radius: 1px;
  box-shadow: -2px 5px 20px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(232, 232, 232, 0.8);
}

.home-main {
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding-right: @body-padding-size;
  .ant-card-cover {
    .card-border();
    width: 90%;
    margin: -5% 6% 0;
    background: #fff;
  }
  .ant-list-item-extra {
    height: 154px;
    .card-border();
    background: url(https://cdn.jsdelivr.net/npm/maple-statics@1.0.4/image/oval.svg) no-repeat center;
    background-size: 50px;
  }
}

.home-content {
  padding: 10px 20px 10px 20px;
}

.home-text:first-letter {
  color: #25a186;
  font-size: 20px;
  font-weight: bold;
  margin-right: 5px;
}

.home-card {
  min-width: 200px;
}

.home-header {
  text-align: center;
}

.home-text-caps {
  font-size: 20px;
  font-weight: normal;
  font-variant: small-caps;
  text-transform: uppercase;
  text-align: center;
  text-shadow: #e7e7e7 3px 5px 0,
  #999 4px 6px 3px,
  #ccc 8px 11px 10px;
}

@media screen and (max-width: 1200px) {
  .home-content {
    padding: 10px 50px;
  }

  .home-layout {
    padding-left: 0;
  }

  .home-main {
    padding-right: 0;
  }
}
