// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 16px;
  font-family: system, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.maple-loading {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;

  .ant-spin-text {
    padding-top: 10px;
    font-weight: 400;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 1200px) {
  .ant-back-top {
    right: 10% !important;
    bottom: 10% !important;
  }
}
