.flow-banner-container {
  display: block;
  perspective: 4000px;
  transform: rotateX(-6deg);
  transform-style: preserve-3d;
}

.flow-banner-items {
  margin: 50px auto 100px;
  /*指定子元素定位在三维空间内*/
  transform-style: preserve-3d;
  /*让所有item的父级元素（即items）旋转，item就是围绕着旋转了*/
  // animation: autoMove 1s infinite linear;
}

.flow-banner-item {
  position: absolute;
  display: block;
  text-align: center;
  & > div:before {
    content: '';
    width: 50px;
    height: 50px;
    top: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 10px -10px 8px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotate(2deg) translate(-14px, 20px) skew(-20deg);
  }
  & > div:after {
    content: '';
    width: 100px;
    height: 100px;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotate(0deg) translate(20px, -15px) skew(-20deg);
  }
}

@keyframes autoMove {
  from {
  }
  to {
    transform: rotateY(-360deg);
  }
}
