.blog-layout{
  height: 100%;
}

.blog-main{
  background : #fff;
  height:100%
}

.blog-main-header{
  padding: 0 36px;
  background: none;
  margin: 0 auto;
}

.blog-main-fold {
  z-index: 10;
  position: fixed;
  bottom: 60px;
  cursor: pointer;
  background: none;
}

.blog-main-content{
  border-top: 1px solid #e6e6e6;
  padding: 16px;
}

.blog-main-footer{
  text-align: center;
}
