.blog-layout{
  height: 100%;
}

.blog-main{
  background : #fff;
  height:100%
}

.blog-main-header{
  position: fixed;
  display: block;
  width: 100%;
  text-align: left;
  padding: 0 36px;
  background: none;
  margin: 0 auto;
  border-bottom: 1px solid #e6e6e6;
  background: #fff;
}

.blog-main-fold {
  z-index: 10;
  position: fixed;
  bottom: 60px;
  cursor: pointer;
  background: none;
}

.blog-main-content{
  padding: 16px;
  margin-top: 60px;
}

.blog-main-footer{
  text-align: center;
}

.blog-header-icon-menu{
  vertical-align: middle;
  font-size: 18px;
  margin-right: 10px;
  cursor: pointer;
  &:hover{
    color: #108ee9;
  }
}
